* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
}

h1.main {
    font-size: 3rem;
}

div.image {
    text-align: center;
    margin: 2rem;
}
img {
    width: 350px;
}

div.intro {   
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 750px;
    border-top: 2px ridge #097b33;
    border-image: linear-gradient(45deg, #FFFFFF, rgb(22, 117, 92)) 10;
    padding-top: 1rem;
    margin: 3rem auto;
}

nav {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a:link {
    color: rgb(22, 117, 92);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(108, 160, 146);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #abd2b9;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(174, 112, 162);
    background-color: transparent;
    text-decoration: underline;
  }

  img.leftimg {
    float: left;
    margin: 10px 20px 0 10px;
  }

